@import "../lib/styles/variables";
@import "../lib/styles/common";

.vri {
    &__hero {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 320px;
        margin: auto;
        position: relative;
        width: 100%;
        z-index: -1;

        @media screen and (min-width: $breakpoint-xl) {
            max-width: 1440px;
        }

        h1 {
            color: $white;
            position: absolute;
            text-align: center;
            bottom: 45px;
            left: 50%;
            text-shadow: 0 2px 20px $darker-purple;
            transform: translateX(-50%);

            @media screen and (min-width: $breakpoint-tablet) {
                bottom: 75px;
            }

            @media screen and (min-width: $breakpoint-desktop) {
                left: 46px;
                transform: none;
            }

            @media screen and (min-width: $breakpoint-xl) {
                left: 165px;
            }
        }
    }

    &__columns {
        &--one {
            padding: 8em 1.250em;
            max-width: 320px;
            margin: auto;

            @media screen and (min-width: $breakpoint-tablet) {
                padding: inherit 2.5em;
                max-width: 768px;
            }

            @media screen and (min-width: $breakpoint-desktop) {
                padding: inherit 6.250em;
                max-width: 992px;
            }

            @media screen and (min-width: $breakpoint-xl) {
                padding: inherit 10.313em;
                max-width: 1200px;
            }
        }

        &--two {
            margin: auto;
            max-width: 1440px;

            @media screen and (min-width: $breakpoint-desktop) {
                align-items: flex-start;
                display: flex;
                padding: 10em 1.875em;
                justify-content: space-between;
            }

            @media screen and (min-width: $breakpoint-xl) {
                padding: 10em 0;
            }

            .vri__columns {
                &--right {
                    padding: 8em 1.250em;

                    @media screen and (min-width: $breakpoint-tablet) {
                        padding-left: 2.5em;
                        padding-right: 2.5em;
                    }

                    @media screen and (min-width: $breakpoint-desktop) {
                        padding: 0 0 0 6.250em;
                    }

                    @media screen and (min-width: $breakpoint-xl) {
                        padding-right: 10.313em;
                    }
                }

                &--left {
                    @media screen and (min-width: $breakpoint-xl) {
                        padding-left: 10.313em;
                    }
                }
            }
        }
    }

    &__site-nav {
        border-bottom: 1px solid $dark-gray;
        padding: 1.875em 1.375em;

        @media screen and (min-width: $breakpoint-tablet) {
            padding-left: 2.5em;
            padding-right: 2.5em;
        }

        &__top {
            display: flex;
            justify-content: space-between;
        }

        &--top {
            display: none;
        }

        h6 {
            font-size: 1.200em;
        }

        img {
            transition: 0.4s;
        }

        button {
            &:not(.collapsed) {
                img {
                    transform: rotate(180deg);
                }
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                font-size: 1.500em;
                line-height: 1;
                margin-top: 1.875em;

                a {
                    color: $darker-purple;
                    text-decoration: none;
                    transition: .1s linear;

                    &:hover, &.active {
                        color: $purple;
                    }
                }
            }
        }

        .navbar, button {
            border: none;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        &--disabled {
            border: none;
            padding: 0;

            .vri__site-nav__top {
                justify-content: center;

                h6 {
                    font-size: 2.500em;
                }

                img {
                    display: none;
                }
            }
        }
    }

    &__columns--left {
        .navbar {
            &-collapse {
                display: none;
            }
        }

        @media screen and (min-width: $breakpoint-desktop) {
            flex: 0 0 calc(210 / 932 * 100%);
            position: sticky;
            top: 20px;

            .vri__site-nav {
                border: none;
                padding: 0;

                &--top {
                    display: inline;
                    font-family: $calibre-semibold;
                    font-weight: 600;
                }

                li {
                    &:not(.vri__site-nav--top) a {
                        color: $darker-gray;

                        &:hover, &.active {
                            color: $purple;
                        }
                    }
                }
            }

            .navbar {
                display: none;

                &-collapse {
                    display: block;
                }
            }
        }

        @media screen and (min-width: $breakpoint-xl) {
            flex-basis: 350px;
        }
    }

    &__forms {
        text-align: left;

        label {
            display: inline-block;
            margin-bottom: .5rem;
            font-size: 1.250em;
            line-height: 1;
        }

        input {
            border: none;
            margin: 0;

            &[type="date"], &[type="email"], &[type="number"], &[type="text"], &[type="tel"] {
                background-color: rgba(28, 24, 81, 0.07);
                box-shadow: 0 2px 10px 0 rgba(30, 33, 61, 0.31);
                color: $darker-gray;
                font-family: $calibre;
                font-size: 1.500em;
                padding: 10px 16px;

                &:focus {
                    background-color: $white;
                    color: $darker-purple;
                    font-family: $calibre-medium;
                }
            }

            &[type="radio"] {
                background-color: rgba(28, 24, 81, 0.14);
            }

            &[type="checkbox"] {
                margin-right: 0.5em;

                & ~ label {
                    margin-top: 1em;
                }
            }
        }

        textarea {
            background-color: rgba(28, 24, 81, 0.07);
            border: none;
            box-shadow: 0 2px 10px 0 rgba(30, 33, 61, 0.31);
            color: $darker-gray;
            font-family: $calibre;
            font-size: 1.500em;
            margin: 0;
            padding: 10px 16px;
            width: 100%;

            &:focus {
                background-color: $white;
                color: $darker-purple;
                font-family: $calibre-medium;
            }
        }

        ul {
            list-style: none;
            padding: 0;
        }

        &--radio {
            display: flex;
            margin: 2em 0 0;

            li {
                margin-right: 1.750em;
                position: relative;

                input[type="radio"] {
                    display: none;

                    &:checked ~ label .check {
                        background-color: $purple;
                    }
                }

                label {
                    font-family: $calibre-medium;
                    display: flex;
                    line-height: calc(26 / 20);
                    margin: 0;
                    position: relative;
                    cursor: pointer;
                    -webkit-transition: all 0.25s linear;
                }

                .check {
                    background-color: $gray;
                    border: 4px solid $gray;
                    border-radius: 100%;
                    display: block;
                    height: 20px;
                    margin-right: .5em;
                    transition: .25s linear;
                    width: 20px;
                }

                &:hover .check {
                    background-color: $purple;
                    border-color: $gray;
                }
            }
        }

        &--pair {
            display: flex;
            justify-content: space-between;

            label {
                margin-top: 0;
            }
        }

        &--field {
            display: flex;
            flex-direction: column;
            width: calc(50% - 15px);

            &--full {
                width: 100%;
            }
        }

        &--other {
            align-items: center;
            display: flex;

            input[type="text"] {
                box-shadow: none;
                background: $white;
                border-bottom: 1px solid $darker-gray;
                margin-left: .5em;
                padding: 0;
                width: 50%;
            }
        }

        &--submitted {
            input, textarea {
                &:invalid {
                    border: 1px solid $error;
                }
            }

            input {
                &[type="checkbox"], &[type="radio"] {
                    &:invalid {
                        & ~ label {
                            color: $error;

                            .check {
                                border-color: $error;
                            }
                        }
                    }
                }
            }
        }

        &--thankyou {
            display: none;

            &.active {
                display: block;
                margin: 5em 15% 10em;
            }

            h3 {
                margin-bottom: 1em;
            }
        }
    }
}
